body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url("3547608.jpg");
    color: red; */
    background-size: cover;
  }
  
  table,th,td {
    width:80%;
    margin:auto;
    border:1px solid white;
    border-collapse:collapse;
    text-align:center;
    font-size:30px;
    table-layout:fixed;
    background:blue;
    opacity:0.5;
    color:white;
    margin-top:100px;
    }
    th,td{
    padding:20px;
    opacity:0.9;
    
    }
    
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @media only screen and (max-width: 750px) {
    .container  {
      display: flex;
      flex-wrap: wrap;
    }
  }